* {
    margin: 0;
    padding: 0;
}

.home {
    height: 100vh;
    background-image: url(../pictures/drew-coffman-1872.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: auto;
}

.layer {
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.4);
}
.scroll-margin{
    margin: 60px 0px;
}


.scroll{
    width: 25px;
    height: 40px;
    background-color: transparent;
    padding: 5px 3px;
    border: 2px solid white;
    border-radius: 30px;
    margin: auto;
    color: #fff;
    position: relative;
    overflow: hidden;
}
.scroll::after{
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(224, 221, 221, 0.744);
    position: absolute;
    top: 10px;
    left: 38%;
    animation-name: scroll;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    /* animation-direction: alternate; */

}
@keyframes scroll {
    0% {top : 10%}
    100% {top: 50%; background-color: transparent;}
}



.logo {
    width: 50%;
    float: left;
    padding: 10px 0px 10px 90px;
}

.logo img {
    width: 20%;
}

.navbar ul {
    width: 40%;
    list-style-type: none;
    float: right;
    padding-top: 10px;

}

.navbar ul li {
    width: 70px;
    padding: 10px;
    font-size: 19px;
    text-align: center;
    color: white;
    display: inline-block;
    cursor: pointer;
}

.clr {
    clear: both;
}

.home-content {
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 120px;
    padding: 15px 0;
    color: white;
}

.home-content p,
.home-content h1 {
    margin-bottom: 30px;
}

.home-content p {
    font-size: 29px;

}

.home-content h1 {
    font-size: 70px;
    font-weight: 300;
}

button {
    border: none;
    margin: 0 4px;
    border-radius: 3px;
    padding: 20px 25px;
    color: white;
}

.btn1 {
    background-color: #8e7754;
    cursor: pointer;
}

.btn2 {
    border: white solid 1px;
    background-color: transparent;
    cursor: pointer;

}

.story {
    margin-top: 100px;
    height: 100vh;
}

.story-img {
    float: left;
    width: 40%;
    padding: 0px 50px 0px 70px;
}

.story-img img {
    width: 100%;
}

.story-content {
    width: 50%;
    float: left;
    padding: 50px 0px 10px 10px;
}

.story-content h2 {
    margin-bottom: 22px;
    font-size: 40px;
    font-weight: 200;
}

.pp {
    margin-top: 35px;
    padding: 10px;
    font-size: 30px;
}

.location {
    margin-top: -90px;
    background-color: rgb(236, 236, 236);
    height: 600px;
    padding-left: 50px;

}

.location-img {
    width: 40%;
    float: right;
    padding: 70px 170px;
}

.location-img img {
    width: 100%;
}

.txt {

    padding-top: 220px;
}
.txt h4 img{
    width: 30px;
}

.txt h4 {
    margin-bottom: 50px;
    font-size: 35px;
}

.txt p {
    font-size: 19px;
    font-weight: 300;
    margin-bottom: 20px;
}

.prodcts {
    background-color: blue;

}

.title {
    text-align: center;
    margin: 80px 0px 60px;
}

.title h2 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 15px;
}

.view-of-products {
    width: 90%;
    margin: auto;
    height: 70vh;
}

.first {
    width: 33.333%;
    text-align: center;
    float: left;
    box-sizing: border-box;
    padding: 0px 20px;
}

.first img {
    width: 100%;
}

.inner {
    background-color: rgba(248, 248, 248, 0.999);
}
.product-content p,h4{
    padding: 10px;
}



/* Contact */
.fakeLayer{
    background-color: rgba(239, 239, 239, 0.744);
    width: 100%;
    padding-top: 50px;
}
.Contact{
    /* background-color: blue; */
    width: 90%;
    margin: auto;
}

.Contact-Details{
    padding-top: 50px;
    /* background-color: #8e7754; */
    width: 50%;
    float: left;
}
.Contact-Details h4{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
.Contact-Details p{
    margin-top: 13px;
    font-size: 17px;
    padding-left: 20px;
}
.Contact-Details h6{
    margin-top: 20px;
    font-size: 17px;
    padding-left: 20px;
}
.Contact-Details ul{
    margin-top: 5px;
    list-style-type: none;
}
.Contact-Details ul li{
    padding-top: 15px;
    padding-left: 20px;

}
.Contact-Details ul li img{
    width: 15px;
    margin-right: 5px;
}

.Contact-img{
    /* background-color: rgb(97, 1, 1); */
    width: 50%;
    float: left;
    text-align: center;
}
.Contact-img img{
 width: 100%;
}

.clr{
    clear: both;
}


/* Start of finish part */
.lastPart{
    background-color: #353330;
    padding: 100px 0px;
    text-align: center;
    color: #fff;
}




